.topbar {
  background: linear-gradient(to right, #1d2671, #c33764);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .wrapper {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      justify-content: center;

      .heading {
        color: #fab62b;
        font-size: 30px;
        font-weight: 400;
        text-decoration: none;
        margin-right: 40px;
      }

    }

    .right {
      display: flex;

      .itemContainer {
        display: flex;

        a {
          text-decoration: none;

          .tag {
            padding-right: 30px;
            color: #fab62b;
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
