@import "../../global.scss";

.portfolio {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  h1 {
    font-size: 50px;
    margin-top: 20px;
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#1d2671),
      to(#c33764)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mobilemd {
      display: none;
    }

    @include tablet{
      display: none;
    }
    @include mobilesm{
      display: none;
    }
    @include mobilexs{
      display: none;
    }
  }

  ul {
    display: flex;
    margin: 10px;
    padding: 0;
    align-items: center;
    cursor: pointer;
  }

  .container {
    display: flex;
    width: 80%;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include mobilemd {
      width: 100%;
    }
    @include mobilesm {
      width: 100%;
    }
    @include mobilexs {
      width: 100%;
    }

    @include tablet{
      width: 100%;
    }

    .item {
      width: 360px;
      height: 250px;
      border-radius: 10px;
      border: 1px solid lightgray;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: 0.5s ease;
      cursor: pointer;

      @include tablet{
        width: 40%;
      }

      @include mobilemd {
        width: 90%;
      }
      @include mobilesm {
        width: 90%;
      }
      @include mobilexs {
        width: 90%;
      }
  

      .description {
        position: absolute;
        padding: 10px 10px;
        h3 {
          font-size: 20px;
          @include mobilemd {
            font-size: 16px;
          }
          @include mobilesm {
            font-size: 16px;
          }
          @include mobilexs {
            font-size: 16px;
          }
          @include tablet{
            font-size: 16px;
          }
        }
        p {
          font-size: 15px;
          font-weight: 400;
          @include mobilemd {
            font-size: 12px;
          }
          @include mobilesm {
            font-size: 12px;
          }
          @include mobilexs {
            font-size: 12px;
          }
          @include tablet{
            font-size: 12px;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background: linear-gradient(to right, #1d2671, #c33764);
        img {
          opacity: 0.1;
        }
      }
    }
  }
}
